<!DOCTYPE html>
	<html>
		{% include head.html %}
		<body>
			<div id="header" class="">
				<nav>
	    	<ul>
	        <li><a href="/">Home</a></li>
		      <li><a href="/about">About</a></li>
	        <li><a href="/blog">Blog</a></li>
	    	</ul>
			</nav>
			</div>
			<div id="main-container" class="container">
				<div class="row">
					{% include default_sidebar.html %}
				<div id="content" class="col-9">
				<div class="container">
			
					{{ content }}
			
					</div><!-- /.container -->
					</div>
				</div>
			</div>
		{% include footer.html %}
		</body>
	</html>
